@font-face {
    font-family: "Roboto Condensed Regular";
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: black;
}

.logo_image {
    height: 40px;
}

.standby_image {
    height: auto;
    display: none;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#wrapper {
    font-family: "Roboto Condensed Regular";
    display: flex;
    min-height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 20px;
    background-color: #438a9b;
}

.up_top {
    display: flex;
    justify-content: space-between;
}
