.login {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#title_login {
    font-size: 40px;
    text-shadow: 4px 3px 2px rgb(235, 194, 235);
}

.text_center {
    text-align: center;
}

input {
    background-color: rgb(235, 194, 235);
}


label {
    font-size: 18px;
}

input {
    height: 30px;
}

button {
    height: 50px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.618);
}

.go_to_register_text {
    margin-top: 50px;
    font-size: 18px;
}

.go_to_login_text {
    display: none;
    margin-top: 50px;
    font-size: 18px;
}

.go_to_register_text:active {
    color: rgb(144, 119, 165);
}
.go_to_login_text:active {
    color: rgb(137, 117, 155);
}

.register_button {
    display: none;
}

.background_contacting_server {
    display: none;
    border-radius: 20px;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.591);
    position: absolute;
}

.contacting_server {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.738);
    border-radius: 30px;
}